<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <rewrite>
     <rules>
  
   



<rule name="rule 1O" stopProcessing="true">
	<match url="^([a-zA-Z0-9_-]+).html$"  />
	<action type="Rewrite" url="/index.php?com={R:1}"  />
</rule>
<rule name="rule 2O" stopProcessing="true">
	<match url="^([a-zA-Z0-9_-]+).html/p=([0-9]+)$"  />
	<action type="Rewrite" url="/index.php?com={R:1}&amp;p={R:2}"  />
</rule>

<rule name="rule 1R" stopProcessing="true">
	<match url="^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+).html$"  />
	<action type="Rewrite" url="/index.php?com={R:1}&amp;id={R:3}"  />
</rule>
<rule name="rule 2R" stopProcessing="true">
	<match url="^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+).html/p=([0-9]+)$"  />
	<action type="Rewrite" url="/index.php?com={R:1}&amp;id={R:3}&amp;p={R:4}"  />
</rule>

<rule name="rule 1i" stopProcessing="true">
	<match url="^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+)$"  />
	<action type="Rewrite" url="/index.php?com={R:1}&amp;id_danhmuc={R:3}"  />
</rule>
<rule name="rule 2i" stopProcessing="true">
	<match url="^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+)/p=([0-9]+)$"  />
	<action type="Rewrite" url="/index.php?com={R:1}&amp;id_danhmuc={R:3}&amp;p={R:4}"  />
</rule>

<rule name="rule 1E" stopProcessing="true">
	<match url="^([a-zA-Z0-9_-]+).html/keyword=(.*)$"  />
	<action type="Rewrite" url="/index.php?com={R:1}&amp;keyword={R:2}"  />
</rule>
<rule name="rule 2E" stopProcessing="true">
	<match url="^([a-zA-Z0-9_-]+).html/keyword=(.*)/p=([0-9]+)$"  />
	<action type="Rewrite" url="/index.php?com={R:1}&amp;keyword={R:2}&amp;p={R:3}"  />
</rule>











 </rules>
 </rewrite>
  </system.webServer>
</configuration>